body {
  background: #ffcbcb;
  background-attachment: fixed;
}
img {
  max-width: 50%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
h1,
h2,
p {
  text-align: center;
}
a {
  color: indigo;
}

.container {
  text-align: center;
}
